.NewPatient {
    background-color: rgb(75, 139, 59);
    margin:auto;
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-top: 70px;
    height: 130vh;
    width: 100vw;
    overflow: auto;
    color: white;
    
}
.NewPatientHead {
    margin-top: 20px;
}
.DelIcon {
    color: rgb(255, 62, 62);
    padding-left: 30px;
    margin-right: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: center;
    transition: all 0.3s;
}

.DelIcon:hover {
    color: rgb(255, 217, 0);
}
@media only screen and (max-width: 600px)  {
.CreateNewPatient, .FirstName, .LastName, .Email, .Telephone, .Address, .dateofbirth {
    margin: auto;
    text-align: center;
}
.FormInput {
    margin: auto;
    text-align: center;
}
}